<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="/assets/Frame.svg" alt="логотип сайта">
        </div>
        <nav class="header-nav">
            <div class="header-nav-item">Главная</div>
            <div class="header-nav-item">О компании</div>
            <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
    <div class="header-right">
        <div class="header-right-phone">
            <img src="/assets/Phone.svg" alt="значок тел">
        </div>
        <nav class="header-right-nav">
            <div class="header-nav-number">+7(919)641-40-39</div>
        </nav>
        <div class="header-right-heart">
            <img src="/assets/heart 1.svg" alt="сердечко"> 
        </div>
     <button class="touch">
        <img src="/assets/Musk group_1.svg" alt="корзинка"> 
            <span class="span">
                <div class="span-touch">Пусто</div>
            </span>
     </button>
    </div>
</div>

<div class="header-2">
    <div class="header-2-left">
        <div class="header-2-line">
            <img src="/assets/light.svg" alt="линии">
        </div>
        <nav class="header-2-nav">
            <div class="header-2-nav-item">Каталог</div>
            <div class="header-2-nav-item">Стройматериалы</div>
            <div class="header-2-nav-item">Инструменты</div>
            <div class="header-2-nav-item">Электрика</div>
            <div class="header-2-nav-item">Интерьер и одежда</div>
        </nav>
    </div>
    <div class="header-2-right">
        <input class="search" type="search" placeholder="Поиск, например Круг зачистной">
     <button class="mask">
        <img src="/assets/Mask group.svg" alt="лупа">
     </button>   
     <div class="map">
        <img src="/assets/map-pin (2) 1.svg" alt="мап">
        <button class="coutry" type="menu">Москва</button>
     </div>
    </div>
</div>